[submodule "bundle/puppet"]
	path = bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "bundle/CamelCaseMotion"]
	path = bundle/CamelCaseMotion
	url = git://github.com/bkad/CamelCaseMotion.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "bundle/vim-lint"]
	path = bundle/vim-lint
	url = https://github.com/dbakker/vim-lint.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-mustache-handlebars"]
	path = bundle/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "vim-markdown"]
	path = vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule "bundle/vim-better-whitespace"]
	path = bundle/vim-better-whitespace
	url = git://github.com/ntpeters/vim-better-whitespace.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "bundle/vim-jsonnet"]
	path = bundle/vim-jsonnet
	url = https://github.com/google/vim-jsonnet
[submodule "bundle/neocomplete.vim"]
	path = bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/papercolor-theme"]
	path = bundle/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git://github.com/vim-airline/vim-airline.git
[submodule "bundle/vim-obsession"]
	path = bundle/vim-obsession
	url = git://github.com/tpope/vim-obsession.git
[submodule "bundle/vim-nomadproject"]
	path = bundle/vim-nomadproject
	url = https://github.com/hashivim/vim-nomadproject.git
[submodule "bundle/vim-hclfmt"]
	path = bundle/vim-hclfmt
	url = https://github.com/fatih/vim-hclfmt.git
[submodule "bundle/vim-hcl"]
	path = bundle/vim-hcl
	url = https://github.com/b4b4r07/vim-hcl.git
